* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #f3f3f3;
    color: #403f3c;
}
.container {
    margin-top: 25vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
} 

a {
    text-decoration: none;
}

.container p {
    margin-top: 25px;
}